includes:
    - ./../../larastan/larastan/extension.neon
    - ./../../phpstan/phpstan-strict-rules/rules.neon
    - ./../../../phpstan-baselines/_loader.neon

parameters:
    level: 10
    tmpDir: .phpstan
    strictRules:
      dynamicCallOnStaticMethod: false
