#includes:
#    - ./../../nunomaduro/larastan/extension.neon

services:
	-
		class: Cego\phpstan\SpatieLaravelData\Collectors\ConstructorCollector
		tags:
			- phpstan.collector

	-
		class: Cego\phpstan\SpatieLaravelData\Collectors\FromCollector
		tags:
			- phpstan.collector

	-
		class: Cego\phpstan\SpatieLaravelData\Collectors\CastCollector
		tags:
			- phpstan.collector

rules:
    - Cego\phpstan\SpatieLaravelData\Rules\ValidTypeRule

parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false
    tmpDir: .phpstan

    ignoreErrors:
          # Allow illuminate array types in array_merge
          - '#Parameter \#1 ...\$arrays of function array_merge expects array, array|Illuminate\Contracts\Support\Arrayable|JsonSerializable given.#'

          # Allow magic calls on unique generator
          - '#Access to an undefined property Faker\\UniqueGenerator::#'

          # Allow arrow functions for collecitons
          - '#Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<mixed\,mixed\>\:\:each\(\) expects callable\(mixed\, mixed\)\: bool\|void, Closure#'
          - '#Parameter \#1 \$callback of method Illuminate\\Support\\(Collection|LazyCollection).*?\:\:(each|reject|transform|map|filter|only|except|reduce).*?expects.*?(Closure|callable).*?(Closure|callable).*?given#'

          # Allow mixed types for collect function
          - '#Unable to resolve the template type (TKey|TValue) in call to function collect#'

          # Allow collection methods on relationship properties
          - '#Cannot call method (each|reject|transform|map|filter|only|except|reduce|count)\(\) on.*Illuminate\\Database\\Eloquent\\Collection#'

          # Ignore relationship generics
          - '#Generic type Illuminate\\Database\\Eloquent\\Relations\\#'
          - '#should return Illuminate\\Database\\Eloquent\\Relations\\.*?but returns.*Illuminate\\Database\\Eloquent\\Relations\\#'
          - '#generic class Illuminate\\Database\\Eloquent\\(Builder|Relations\\).*? does not specify its types:#'

          # Laravel-Ide-Helper integration
          - '#PHPDoc tag @mixin contains unknown class Eloquent#'
